.activityHistory {
    background-color: white;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.tableHeader th {
    background-color: var(--primary-color);
    color: white;
}

.activityFooter {
    color: #666;
    font-size: 1.1rem;
}